*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  #contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    #menu_panel{
      width: 30%;
    }
    #resul{
      width: 60%;
    }
  }
}